<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="~{fragments/layout :: head}"/>

<body>
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<br/>
<div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
    <h2 align="center">Users</h2>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th></th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.authorities}">Role</td>
            <td><a th:href="@{'/userlist/' + ${user.id} + '/delete'}" onclick="return confirm('Are you sure you want to delete this user?');" class="btn btn-default">Delete User</a></td>
        </tr>
        </thead>
    </table>
</div>
<br/><br/>

<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
