<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/layout :: head}" th:remove="tag"/>
<body class="welcome-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/><br/>
<div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <h2 align="center">Users</h2>
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Last login</th>
                        <th>Enabled</th>
<!--                        <th></th>-->
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.firstName}">Username</td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.lastLogin}"></td>
                        <td th:text="${user.enabled}"></td>
<!--                        <td><a th:href="@{'/admin/' + ${user.id} + '/view'}"-->
<!--                               class="fas fa-eye" data-toggle="tooltip" th:text="#{view}"></a></td>-->
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
