<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head}" th:remove="tag"/>
<body class="welcome-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <div class="card-body text-center">
                    <h4 class="alert alert-success">Success!</h4>
                    <h4 class="alert alert-success">Feel free to login and use the app.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
