<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}">

<body>

<nav th:insert="~{fragments/layout :: navbar}"></nav>

<br/>

<div class="container">
    <h2>Add Wine:</h2>
    <form th:modelAttribute="wine" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" th:field="${wine.name}" id="name" placeholder="Enter name"
                   name="name">
        </div>
        <div class="form-group">
            <label for="vintage">Vintage:</label>
            <input type="text" class="form-control" th:field="*{wine.vintage}" id="vintage" placeholder="Enter vintage"
                   name="vintage">
        </div>
        <div class="form-group">
            <label for="appellation">Appellation:</label>
            <input type="text" class="form-control" id="appellation" th:field="*{wine.appellation}"
                   placeholder="Enter appellation" name="appellation">
        </div>
        <div class="form-group">
            <label for="varietal">Varietal:</label>
            <input type="text" class="form-control" id="varietal" th:field="*{wine.varietal}"
                   placeholder="Enter varietal" name="varietal">
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" class="form-control" id="country" th:field="*{wine.country}" placeholder="Enter country"
                   name="country">
        </div>

        <button type="submit" class="save btn" value="Save">Save</button>

    </form>
</div>

<footer th:include="~{fragments/layout :: footer}"></footer>

</body>
</html>