<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="index.css">
    <meta charset="UTF-8">
    <title>Add Wine Form</title>

</head>
<body>
<h2>Save Wine</h2>
<form th:action="saveWine" th:modelAttribute="addwine" method="post">
    <table>
        <tr>
            <td>Wine name:</td>
            <td><input type="text" th:field="*{addwine.name}" path="name"/></td>
        </tr>
        <tr>
            <td>Wine vintage:</td>
            <td><input type="text" th:field="*{addwine.vintage}" path="vintage"/></td>
        </tr>
        <tr>
            <td>Wine appellation:</td>
            <td><input type="text" th:field="*{addwine.appellation}" path="varietal"/></td>
        </tr>
        <tr>
            <td>Wine varietal:</td>
            <td><input type="text" th:field="*{addwine.varietal}" path="country"/></td>
        </tr>
        <tr>
            <td>Wine country:</td>
            <td><input th:field="*{addwine.country}" path="country"/></td>
        </tr>
        <tr>
            <td>Wine price:</td>
            <td><input th:field="*{addwine.price}" path="price"/></td>
        </tr>
        <tr>
            <td>Wine rating:</td>
            <td><input th:field="*{addwine.rating}" path="rating"/></td>
        </tr>
        <tr>
            <td>Wine producer:</td>
            <td><input th:field="*{addwine.producer}" path="producer"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" class="save"/></td>
        </tr>
    </table>
</form>


</body>
</html>