<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>

<body>

<nav th:insert="~{fragments/layout :: nav}"/>

<br/>

<div class="container">
    <div class="container">
        <h2>
            <th:block th:if="${wine['new']}">Add Wine to:</th:block>
        </h2>
        <h5 th:text="${wine.producer.name}">Producer Name</h5>
    </div>
    <form th:object="${wine}" class="form-horizontal" method="post">
        <input type="hidden" name="id" th:value="*{id}"/>
        <div class="form-group has-feedback col-sm-6">
            <input
                    th:replace="~{fragments/inputField :: input ('Label', 'label', 'text')}"/>
            <input
                    th:replace="~{fragments/inputField :: input ('Vintage', 'vintage', 'text')}"/>
            <input
                    th:replace="~{fragments/inputField :: input ('Varietal', 'varietal', 'text')}"/>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button
                        th:with="text=${wine['new']} ? 'Add Wine' : 'Update Wine'"
                        class="btn btn-default" type="submit" th:text="${text}">Add Wine
                </button>
            </div>
        </div>
    </form>
</div>

</body>

</html>