<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wine</title>
</head>
<body>
<h1>Wine</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Vintage</th>
        <th>Appellation</th>
        <th>Varietal</th>
        <th>Country</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Producer</th>
    </tr>
    <tr th:each="wine : ${wines}">
        <td th:text="${wine.name}">Name</td>
        <td th:text="${wine.vintage}">Vintage</td>
        <td th:text="${wine.appellation}">Appellation</td>
        <td th:text="${wine.varietal}">Varietal</td>
        <td th:text="${wine.country}">Country</td>
        <td th:text="${wine.price}">Price</td>
        <td th:text="${wine.rating}">Rating</td>
        <td th:text="${wine.producer.name}">Producer</td>
    </tr>
</table>

</body>
</html>