<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="~{fragments/layout :: head}"/>
<body>
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<br/>
<div class="container justify-content-center">
    <h2 class="col-sm-10" th:text="Review"/>
    <div class="col-sm-10 text-left">
        <ul class="list-inline">
            <li class="list-inline-item">
                <h5>
                    <a th:href="@{/d/__${review.country.key}__/__${review.region.key}__/__${review.area.key}__/__${review.producer.key}__/}"
                       th:text="${review.producer.name}"></a></h5>
            </li>
            <li class="list-inline-item">
                <h5>
                    <a th:href="@{/d/__${review.country.key}__/__${review.region.key}__/__${review.area.key}__/__${review.producer.key}__/__${review.wine.key}__/__${review.wine.vintage}__/__${review.wine.size}__}"
                       th:text="${review.wine.name}"></a></h5>
            </li>
            <li class="list-inline-item">
                <h5 th:text="${review.wine.vintage}"></h5>
            </li>
            <li class="list-inline-item">
                <h5 th:text="|(${review.wine.size}L)|"></h5>
            </li>
            <li sec:authorize="! isAuthenticated()" class="list-inline-item">
                <h5 th:text="|by, ${review.user.username}|"></h5>
            </li>
            <li sec:authorize="isAuthenticated()" th:if="${review.user.id != user.id}" class="list-inline-item">
                <h5>by <a th:href="@{/users/__${review.user.id}__}" th:text="${review.user.username}"></a></h5>
            </li>
        </ul>
    </div>
    <div class="card text-left">
        <div class="card-body" th:object="${review}">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td><b>Stars</b></td>
                    <td th:text="*{stars}"></td>
                </tr>
                <tr>
                    <td><b>Comment</b></td>
                    <td th:text="*{comment}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <div sec:authorize="isAuthenticated()" th:if="${review.user.id == user.id}" class="text-right">
            <a th:href="@{/review/__${review.id}__/edit}"><span class="fas fa-edit"></span></a>
        </div>
    </div>
</div>
<br/>
<br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>