<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body class="review-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <h2 th:text="#{review}"></h2>
                <h4 th:text="|${wine.producer.name}: ${wine.name} ${wine.vintage}|"></h4>
                <form th:object="${review}" method="post">
                    <input type="hidden" name="id" th:value="*{id}"/>
                    <input type="hidden" name="wineId" th:value="${wine.id}"/>
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <input th:replace="~{fragments/inputField :: input ('Stars', 'stars', 'number')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <textarea
                                th:replace="~{fragments/inputField :: textarea ('Comment', 'comment', 'text')}">
                            </textarea>
                        </div>
                    </div>
                    <div th:insert="~{fragments/button :: btn-toolbar-cancel-save}"/>
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>