<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body>
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<h2 align="center">My Reviews</h2>
<br/>
<div class="container justify-content-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Stars</th>
            <th>Producer</th>
            <th>Wine</th>
            <th>Vintage</th>
            <th>Date</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review : ${user.reviews}">
            <td th:text="${review.stars}"></td>
            <td><a th:href="@{/producer/__${review.wine.producer.id}__}" th:text="${review.wine.producer.name}"></a></td>
            <td><a th:href="@{/producer/__${review.wine.producer.id}__/wine/__${review.wine.id}__}" th:text="${review.wine.name}"></a></td>
            <td th:text="${review.wine.vintage}"></td>
            <td th:text="${review.date}"></td>
            <td th:text="${review.comment}"></td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>
<br/>
<br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
