<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head}"/>
<body>
<nav th:insert="~{fragments/layout :: nav}"/>
<br/>
<div class="container justify-content-center">
    <div class="card text-center">
        <div class="card-body" th:object="${region}">
            <h2 class="card-header" th:text="*{name}"></h2>
        </div>
    </div>
    <br/>
    <div class="container justify-content-left">
        <div class="card text-left">
            <div class="card-body" th:object="${region}">
                <p class="card-text" th:text="*{description}"></p>
                <p class="card-text" th:text="*{weblink}"></p>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <a th:href="@{/region/{id}/edit(id=${region.id})}" class="btn btn-default">Edit</a>
        </div>
    </div>
    <br/>
    <br/>
    <h3 align="center">Areas</h3>
    <br/>
    <div class="container justify-content-center">
        <div class="card text-center">
            <div class="card-body" th:each="area : ${region.areas}">
                <h5 class="card-header"><a th:href="@{/area/__${area.id}__/areaDetails}" th:text="${area.name}"></a></h5>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<div th:insert="~{fragments/layout :: footer}"/>
<div th:insert="~{fragments/layout :: scripts}"/>
</body>
</html>