<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body class="region-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-2 m-3">
                <br/>
                <h3 class="col-sm-10" th:text="${region.name}"></h3>
                <br/>
                <form th:object="${region}" method="post">
                    <input type="hidden" name="region" th:value="*{id}"/>
                    <div class="form-group">
                    <textarea
                            th:replace="~{fragments/inputField :: textarea ('Description', 'description', 'text')}"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/inputField :: input ('Web', 'weblink', 'url')}"/>
                        </div>
                    </div>
                    <br/>
                    <div th:insert="~{fragments/button :: btn-toolbar-cancel-save}"/>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>