<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>

<body>

<nav th:insert="~{fragments/layout :: nav}"/>

<br/>
<h2 align="center">Regions</h2>
<br/>

<div class="container justify-content-center">
    <div class="card text-center">
        <div class="card-body" th:each="region : ${regions}">
            <h4 class="card-header"><a th:href="@{/region/__${region.id}__}" th:text="${region.name}"></a></h4>
        </div>
    </div>
</div>
<br/><br/>

<div th:replace="~{fragments/layout :: scripts}"/>

</body>
</html>
