<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head}"/>
<body>
<nav th:insert="~{fragments/layout :: nav}"/>
<br/>
<br/>
<div class="container justify-content-center">
    <div class="card text-center">
        <div class="card-body" th:object="${bottle.wine}">
            <h3 class="card-header" th:text="*{name}"></h3>
        </div>
    </div>
    <form th:object="${bottle}" method="post">
        <input type="hidden" name="id" th:value="*{id}"/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input th:replace="~{fragments/inputField :: input ('Number', 'number', 'number')}"/>
            </div>
            <div class="form-group col-md-6">
                <input th:replace="~{fragments/inputField :: input ('Location', 'location', 'text')}"/>
            </div>
        </div>
        <div class="text-center">
            <button th:with="text=${bottle['new']} ? 'Add' : 'Update'" type="submit"
                    class="btn btn-default" th:text="${text}">
            </button>
        </div>
    </form>
</div>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
