<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body>
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<br/>
<div class="container justify-content-center">
    <div class="card text-center">
        <div class="card-body" th:object="${bottle.wine}">
            <h3 class="card-header" th:text="*{name}"></h3>
        </div>
    </div>
    <br/>
    <div class="container justify-content-left" th:object="${bottle.wine}">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><b>Producer</b></td>
            <td th:text="${bottle.wine.producer.name}"></td>
          </tr>
          <tr>
            <td><b>Vintage</b></td>
            <td th:text="*{vintage}"></td>
          </tr>
          <tr>
            <td><b>Size</b></td>
            <td th:text="*{size}"></td>
          </tr>
        </tbody>
      </table>
      <br/>
    </div>
    <form th:object="${bottle}" method="post">
        <input type="hidden" name="id" th:value="*{id}"/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input th:replace="~{fragments/inputField :: input ('Number', 'number', 'number')}"/>
            </div>
            <div class="form-group col-md-6">
                <input th:replace="~{fragments/inputField :: input ('Location', 'location', 'text')}"/>
            </div>
        </div>
        <div class="text-center">
            <button th:with="text=${bottle['new']} ? 'Add' : 'Update'" type="submit"
                    class="btn btn-default" th:text="${text}">
            </button>
        </div>
    </form>
</div>
<br/>
<br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
