<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body class="bottle-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-2 m-3">
                <div class="card text-center">
                    <div class="card-body" th:object="${bottle.wine}">
                        <h3 class="card-header" th:text="*{name}"></h3>
                    </div>
                </div>
                <br/>
                <div class="container justify-content-left" th:object="${bottle.wine}">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td><b>Producer</b></td>
                            <td th:text="${bottle.wine.producer.name}"></td>
                        </tr>
                        <tr>
                            <td><b>Vintage</b></td>
                            <td th:text="*{vintage}"></td>
                        </tr>
                        <tr>
                            <td><b>Size</b></td>
                            <td th:text="*{size}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                </div>
                <form th:object="${bottle}" method="post">
                    <input type="hidden" name="id" th:value="*{id}"/>
                    <input type="hidden" name="wineId" th:value="*{wine.id}"/>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/inputField :: input ('Number', 'number', 'number')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/inputField :: input ('Location', 'location', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-8 control-label" for="showBottle">Allow people to see these
                                bottles</label>
                            <input type="checkbox" class="form-check-input showBottle" th:field="*{show}"
                                   id="showBottle">
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div th:insert="~{fragments/button :: btn-toolbar-cancel-save}"/>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>