html {
    background: url(resources/images/wine.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #a00025;
    font-family: sans-serif;
    text-align: center;
    font-size: 40pt;
}

h2 {
    font-family: sans-serif;
}

tr, td, th {
    font-family: sans-serif;
    text-align: center;
}