html {
    background: url(wine.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #a00025;
    font-family: sans-serif;
    text-align: center;
    font-size: 40pt;

}

tr {
    color: yellow;
}

td {
    color: blue;
}

th {
    color: green;
}

tr, td, th {
    word-spacing: 70px;
    text-align: center;
}