<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body class="tasting-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <h2 class="col-sm-10" th:text="#{tastingNotes}"></h2>
                <div class="col-sm-10 text-left">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h5>
                                <a th:href="@{/d/__${note.country.key}__/__${note.region.key}__/__${note.area.key}__/__${note.producer.key}__/}"
                                   th:text="${note.producer.name}"></a></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5>
                                <a th:href="@{/d/__${note.country.key}__/__${note.region.key}__/__${note.area.key}__/__${note.producer.key}__/__${note.wine.key}__/__${note.wine.vintage}__/__${note.wine.size}__}"
                                   th:text="${note.wine.name}"></a></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5 th:text="${note.wine.vintage}"></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5 th:text="|(${note.wine.size}L)|"></h5>
                        </li>
                    </ul>
                </div>
                <br/>
                <form th:object="${note}" method="post">
                    <input type="hidden" name="wineId" th:value="${note.wine.id}"/>
                    <div class="col-sm-10">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-check-label" for="showNotes" th:title="#{showNotes}">Allow people to see these notes</label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="checkbox" class="form-check-input showNotes" th:field="*{show}"
                                       id="showNotes">
                            </div>
                        </div>
                    </div>
                    <br/>

                    <!-- SIGHT -->
                    <h4 th:text="#{sight}">Sight</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Clarity', 'sightClarity', 'gtn.help.sightClarity', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Color', 'sightColor', 'gtn.help.sightColor', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Intensity', 'sightIntensity', 'gtn.help.sightIntensity', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Rim variation', 'sightRimvariation', 'gtn.help.sightRimvariation', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Other', 'sightOther', 'gtn.help.sightOther', 'text')}"/>
                        </div>
                    </div>

                    <!-- NOSE -->
                    <h4 th:text="#{nose}">Nose</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Condition', 'noseCondition', 'gtn.help.noseCondition', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Earth', 'noseEarth', 'gtn.help.noseEarth', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Fruit', 'noseFruit', 'gtn.help.noseFruit', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Non fruit', 'noseNonFruit', 'gtn.help.noseNonFruit', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Mineral', 'noseMineral', 'gtn.help.noseMineral', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Intensity', 'noseIntensity', 'gtn.help.noseIntensity', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Wood', 'noseWood', 'gtn.help.noseWood', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Other', 'noseOther', 'gtn.help.noseOther', 'text')}"/>
                        </div>
                    </div>

                    <!-- PALATE -->
                    <h4 th:text="#{palate}">Palate</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Acid', 'palateAcid', 'gtn.help.palateAcid', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Alcohol', 'palateAlcohol', 'gtn.help.palateAlcohol', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Body', 'palateBody', 'gtn.help.palateBody', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Complexity', 'palateComplexity', 'gtn.help.palateComplexity', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Earth', 'palateEarth', 'gtn.help.palateEarth', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Mineral', 'palateMineral', 'gtn.help.palateMineral', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Fruit', 'palateFruit', 'gtn.help.palateFruit', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Non fruit', 'palateNonFruit', 'gtn.help.palateNonFruit', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Intensity', 'palateIntensity', 'gtn.help.palateIntensity', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Sweetness', 'palateSweetness', 'gtn.help.palateSweetness', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Tannin', 'palateTannin', 'gtn.help.palateTannin', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Wood', 'palateWood', 'gtn.help.palateWood', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Finish', 'palateFinish', 'gtn.help.palateFinish', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Other', 'palateOther', 'gtn.help.palateOther', 'text')}"/>
                        </div>
                    </div>

                    <!-- CONCLUSION -->
                    <h4 th:text="#{conclusion}">Conclusion</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Age', 'conclusionAge', 'gtn.help.conclusionAge', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Development', 'conclusionDevelopment', 'gtn.help.conclusionDevelopment', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Countries', 'conclusionCountries', 'gtn.help.conclusionCountries', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('World', 'conclusionWorld', 'gtn.help.conclusionWorld', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Grapes', 'conclusionGrapes', 'gtn.help.conclusionGrapes', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Climate', 'conclusionClimate', 'gtn.help.conclusionClimate', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Notes', 'conclusionNotes', 'gtn.help.conclusionNotes', 'text')}"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/helpField :: input ('Other', 'conclusionOther', 'gtn.help.conclusionOther', 'text')}"/>
                        </div>
                    </div>
                    <div th:insert="~{fragments/button :: btn-toolbar-cancel-save}"/>
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
<script>$('.showNotes').prop('checked', true)</script>
</html>
