<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="~{fragments/layout :: head}"/>
<body class="tasting-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container justify-content-center">
            <br/>
            <h2 class="col-sm-10" th:text="#{tastingNotes}"></h2>
            <div class="col-sm-10 text-left">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h5>
                            <a th:href="@{/d/__${note.country.key}__/__${note.region.key}__/__${note.area.key}__/__${note.producer.key}__/}"
                               th:text="${note.producer.name}"></a></h5>
                    </li>
                    <li class="list-inline-item">
                        <h5>
                            <a th:href="@{/d/__${note.country.key}__/__${note.region.key}__/__${note.area.key}__/__${note.producer.key}__/__${note.wine.key}__/__${note.wine.vintage}__/__${note.wine.size}__}"
                               th:text="${note.wine.name}"></a></h5>
                    </li>
                    <li class="list-inline-item">
                        <h5 th:text="${note.wine.vintage}"></h5>
                    </li>
                    <li class="list-inline-item">
                        <h5 th:text="|(${note.wine.size}L)|"></h5>
                    </li>
                    <li sec:authorize="! isAuthenticated()" class="list-inline-item">
                        <h5 th:text="|by, ${note.user.username}|"></h5>
                    </li>
                    <li sec:authorize="isAuthenticated()" th:if="${note.user.id != user.id}" class="list-inline-item">
                        <h5>by <a th:href="@{/users/__${note.user.id}__}" th:text="${note.user.username}"></a></h5>
                    </li>
                </ul>
            </div>
            <div class="container" th:object="${note}">
                <h5 class="text-left" th:text="#{sight}">Sight</h5>
                <div class="card text-left">
                    <div class="card-body">
                        <table class="table table-hover">
                            <tbody>
                            <tr th:if="*{! #strings.isEmpty(sightClarity)}">
                                <td width="25%"><b th:text="#{sight.clarity}">Clarity</b></td>
                                <td th:text="*{sightClarity}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(sightColor)}">
                                <td width="25%"><b th:text="#{sight.color}">Color</b></td>
                                <td th:text="*{sightColor}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(sightIntensity)}">
                                <td width="25%"><b th:text="#{sight.intensity}">Intensity</b></td>
                                <td th:text="*{sightIntensity}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(sightRimvariation)}">
                                <td width="25%"><b th:text="#{sight.rimVariation}">Rim variation</b></td>
                                <td th:text="*{sightRimvariation}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(sightOther)}">
                                <td width="25%"><b th:text="#{sight.other}">Other</b></td>
                                <td th:text="*{sightOther}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>
                <h5 class="text-left" th:text="#{nose}">Nose</h5>
                <div class="card text-left">
                    <div class="card-body">
                        <table class="table table-hover">
                            <tbody>
                            <tr th:if="*{! #strings.isEmpty(noseCondition)}">
                                <td width="25%"><b th:text="#{nose.condition}">Condition</b></td>
                                <td th:text="*{noseCondition}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(noseEarth)}">
                                <td width="25%"><b th:text="#{nose.earth}">Earth</b></td>
                                <td th:text="*{noseEarth}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(noseFruit)}">
                                <td width="25%"><b th:text="#{nose.fruit}">Fruit</b></td>
                                <td th:text="*{noseFruit}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(noseIntensity)}">
                                <td width="25%"><b th:text="#{nose.intensity}">Intensity</b></td>
                                <td th:text="*{noseIntensity}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(noseMineral)}">
                                <td width="25%"><b th:text="#{nose.mineral}">Mineral</b></td>
                                <td th:text="*{noseMineral}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(noseNonFruit)}">
                                <td width="25%"><b th:text="#{nose.nonFruit}">Non fruit</b></td>
                                <td th:text="*{noseNonFruit}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(noseWood)}">
                                <td width="25%"><b th:text="#{nose.wood}">Wood</b></td>
                                <td th:text="*{noseWood}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(noseOther)}">
                                <td width="25%"><b th:text="#{nose.other}">Other</b></td>
                                <td th:text="*{noseOther}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>
                <h5 class="text-left" th:text="#{palette}">Palette</h5>
                <div class="card text-left">
                    <div class="card-body">
                        <table class="table table-hover">
                            <tbody>
                            <tr th:if="*{! #strings.isEmpty(paletteAcid)}">
                                <td width="25%"><b th:text="#{palette.acid}">Acid</b></td>
                                <td th:text="*{paletteAcid}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteAlcohol)}">
                                <td width="25%"><b th:text="#{palette.alcohol}">Alcohol</b></td>
                                <td th:text="*{paletteAlcohol}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteBody)}">
                                <td width="25%"><b th:text="#{palette.body}">Body</b></td>
                                <td th:text="*{paletteBody}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteComplexity)}">
                                <td width="25%"><b th:text="#{palette.complexity}">Complexity</b></td>
                                <td th:text="*{paletteComplexity}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteEarth)}">
                                <td width="25%"><b th:text="#{palette.earth}">Earth</b></td>
                                <td th:text="*{paletteEarth}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteFinish)}">
                                <td width="25%"><b th:text="#{palette.finish}">Finish</b></td>
                                <td th:text="*{paletteFinish}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteFruit)}">
                                <td width="25%"><b th:text="#{palette.fruit}">Fruit</b></td>
                                <td th:text="*{paletteFruit}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteIntensity)}">
                                <td width="25%"><b th:text="#{palette.intensity}">Intensity</b></td>
                                <td th:text="*{paletteIntensity}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteMineral)}">
                                <td width="25%"><b th:text="#{palette.mineral}">Mineral</b></td>
                                <td th:text="*{paletteMineral}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteNonFruit)}">
                                <td width="25%"><b th:text="#{palette.nonFruit}">Non fruit</b></td>
                                <td th:text="*{paletteNonFruit}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteSweetness)}">
                                <td width="25%"><b th:text="#{palette.sweetness}">Sweetness</b></td>
                                <td th:text="*{paletteSweetness}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteTannin)}">
                                <td width="25%"><b th:text="#{palette.tannin}">Tannin</b></td>
                                <td th:text="*{paletteTannin}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteWood)}">
                                <td width="25%"><b th:text="#{palette.wood}">Wood</b></td>
                                <td th:text="*{paletteWood}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(paletteOther)}">
                                <td width="25%"><b th:text="#{palette.other}">Other</b></td>
                                <td th:text="*{paletteOther}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>
                <h5 class="text-left" th:text="#{conclusion}">Conclusion</h5>
                <div class="card text-left">
                    <div class="card-body">
                        <table class="table table-hover">
                            <tbody>
                            <tr th:if="*{! #strings.isEmpty(conclusionAge)}">
                                <td width="25%"><b th:text="#{conclusion.age}">Age</b></td>
                                <td th:text="*{conclusionAge}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(conclusionClimate)}">
                                <td width="25%"><b th:text="#{conclusion.climate}">Climate</b></td>
                                <td th:text="*{conclusionClimate}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(conclusionCountries)}">
                                <td width="25%"><b th:text="#{conclusion.countries}">Countries</b></td>
                                <td th:text="*{conclusionCountries}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(conclusionDevelopment)}">
                                <td width="25%"><b th:text="#{conclusion.development}">Development</b></td>
                                <td th:text="*{conclusionDevelopment}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(conclusionGrapes)}">
                                <td width="25%"><b th:text="#{conclusion.grapes}">Grapes</b></td>
                                <td th:text="*{conclusionGrapes}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(conclusionNotes)}">
                                <td width="25%"><b th:text="#{conclusion.notes}">Notes</b></td>
                                <td th:text="*{conclusionNotes}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(conclusionWorld)}">
                                <td width="25%"><b th:text="#{conclusion.world}">World</b></td>
                                <td th:text="*{conclusionWorld}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(conclusionOther)}">
                                <td width="25%"><b th:text="#{conclusion.other}">Other</b></td>
                                <td th:text="*{conclusionOther}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>
                <div sec:authorize="isAuthenticated()" th:if="${note.user.id == user.id}"
                     class="text-right">
                    <a th:href="@{/tastingnotes/__${note.id}__/edit}"><span class="fas fa-edit"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
