<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body class="wine-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-2 m-3">
                <div class="card-body text-center p-5">
                    <h3 class="font-weight-light mb-4">This is where you will start the process of adding grapes and
                        their barrels to this wine.</h3>
                    <p class="lead">At a minimum you must choose a grape from the dropdown.</p>
                    <p class="lead">Next you can hit <span class="btn-link fas fa-check-circle"></span> to add the
                        barrel where the grape is stored.</p>
                    <p class="lead">Or feel free to add multiple grapes using <span
                            class="btn-link fas fa-plus-square"></span></p>
                    <p class="lead">You can go back and forth from grape to barrel and <span
                            class="btn-link fas fa-save"></span> when ready.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container justify-content-center">
            <div class="container">
                <div class="container justify-content-center">
                    <div class="card shadow my-5 text-center">
                        <div class="card-body">
                            <h4 class="card-subtitle" th:text="|${wine.name}|"></h4>
                            <br/>
                            <p class="card-text"
                               th:if="${wine.description != null && !wine.description.isEmpty()}"
                               th:text="|Description: ${wine.description}|"></p>
                            <ul class="list-inline">
                                <li class="list-inline-item card-text" th:text="|Vintage: ${wine.vintage}|"></li>
                                <li class="list-inline-item card-text" th:text="|Size: ${wine.size}L|"></li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item card-text" th:if="${wine.closure != null}"
                                    th:text="|Closure: ${wine.closure.name}|"></li>
                                <li class="list-inline-item card-text" th:if="${wine.shape != null}"
                                    th:text="|Shape: ${wine.shape.name}|"></li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item card-text" th:if="${wine.acid}"
                                    th:text="|Acid: ${wine.acid} g/L|"></li>
                                <li class="list-inline-item card-text" th:if="${wine.getPH()}"
                                    th:text="|Ph: ${wine.pH}|"></li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item card-text" th:if="${wine.alcohol}"
                                    th:text="|Alochol: ${wine.alcohol}%|"></li>
                                <li class="list-inline-item card-text" th:if="${wine.bottleAging}"
                                    th:text="|Aging: ${wine.bottleAging} days|"></li>
                            </ul>
                            <p class="card-link" th:if="${wine.weblink != null && !wine.weblink.isEmpty()}"
                               th:text="${wine.weblink}"></p>
                            <p class="card-text" th:if="${wine.subarea != null && !wine.subarea.isEmpty()}"
                               th:text="${wine.subarea}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="container justify-content-center">
                    <div class="card shadow my-5">
                        <div class="card-body">
                            <form th:object="${grapeComponent}" method="post">
                                <div class="container">
                                    <div class="form-row">
                                        <div class="form-group col-md-4 ml-3 mr-4">
                                            <label th:for="${winegrapes}">Grapes</label>
                                            <select class="form-control" th:field="*{grape}">
                                                <option value="">Please select a Grape</option>
                                                <option class="form-control" th:each="winegrape : ${winegrapes}"
                                                        th:text="${winegrape.name}"
                                                        th:value="${winegrape.id}"
                                                        th:selected="${grapeComponent.grape}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-5 ml-5">
                                            <input th:replace="~{fragments/inputField :: input ('Percentage', 'percentage', 'number')}"/>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                            <input th:replace="~{fragments/inputField :: input ('Harvest Begin Date', 'harvestBegin', 'date')}"/>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <input th:replace="~{fragments/inputField :: input ('Harvest End Date', 'harvestEnd', 'date')}"/>
                                        </div>
                                    </div>
                                    <p class="ml-3"><b>Maceration</b></p>
                                    <div class="form-row" th:object="${grapeComponent.maceration}">
                                        <div class="form-group col-md-5">
                                            <input th:replace="~{fragments/inputField :: input ('Days', 'days', 'text')}"/>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <input th:replace="~{fragments/inputField :: input ('Temperature', 'temperature', 'number')}"/>
                                        </div>
                                    </div>
                                    <p class="ml-3"><b>Fermentation</b></p>
                                    <div class="form-row" th:object="${grapeComponent.fermentation}">
                                        <div class="form-group col-md-5">
                                            <input th:replace="~{fragments/inputField :: input ('Days', 'days', 'text')}"/>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <input th:replace="~{fragments/inputField :: input ('Temperature', 'temperature', 'number')}"/>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="btn-toolbar justify-content-center">
                                    <button type="submit" name="action" value="addAnotherGrape"
                                            class="btn btn-link mr-5 fas fa-check-circle"
                                            data-toggle="tooltip" title="Add another Grape">
                                    </button>
                                    <button type="submit" name="action" value="saveWine"
                                            class="btn btn-link mr-5 fas fa-save"
                                            data-toggle="tooltip" title="Save"></button>
                                    <button type="submit" name="action" value="addBarrel"
                                            class="btn btn-link fas fa-plus-square"
                                            data-toggle="tooltip" title="Add Barrel to this Grape">
                                    </button>
                                </div>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>