<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head}"/>
<body>
<nav th:insert="~{fragments/layout :: nav}"/>
<br/>
<div class="card text-center">
  <div class="card-body" th:object="${wine}">
    <h2 class="card-header" th:text="*{name}"></h2>
  </div>
</div>
<br/>
<div class="container justify-content-center">
    <div class="card text-center">
        <div class="card-body" th:object="${wine}">
            <p class="card-text" th:text="*{description}"></p>
            <p class="card-text" th:text="*{vintage}"></p>
            <p class="card-text" th:text="*{size}"></p>
            <p class="card-text" th:text="*{subarea}"></p>
            <p class="card-text" th:text="*{alcohol}"></p>
            <p class="card-text" th:text="*{acid}"></p>
            <p class="card-text" th:text="*{pH}"></p>
            <p class="card-text" th:text="*{bottleAging}"></p>
            <p class="card-text" th:text="*{weblink}"></p>
        </div>
    </div>
    <br/>
    <div class="text-center">
        <a th:href="@{{id}/edit(id=${wine.id})}" class="btn btn-default">Edit</a>
    </div>
</div>
<br/>
<br/>
<h3 align="center">Bottles</h3>
<br/>
<div class="container">
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th>Bottle #</th>
            <th>Location</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bottle : ${wine.bottles}">
            <td th:text="${bottle.number}">Bottle #</td>
            <td th:text="${bottle.location}">Location</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
<br/>
<div class="text-center">
    <a th:href="@{/producer/{producerId}/wine/{wineId}/bottle/new(producerId=${producer.id},wineId=${wine.id})}" class="btn btn-default">Add</a>
</div>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
