<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body class="wine-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <div class="card-body text-center">
                    <h3 class="font-weight-light mb-4">At a minimum you must choose a grape from the dropdown and assign a percentage.</h3>
                    <p class="lead">Next you can hit <span class="btn-link fas fa-plus-square"></span> to add the
                        barrel where the grape was stored.</p>
                    <p class="lead">Or feel free to add multiple grapes using <span
                            class="btn-link fas fa-check-circle"></span></p>
                    <p class="lead">You can go back and forth from grape to barrel and <span
                            class="btn-link fas fa-save"></span> when ready.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container justify-content-center">
            <div class="container">
                <div class="container justify-content-center">
                    <div class="card shadow my-5">
                        <div class="card-body">
                            <form th:object="${grapeComponent}" method="post">
                                <div class="container">
                                    <ul class="list-inline">
                                        <li class="list-inline-item card-text" th:text="|${wine.name}|"></li>
                                        <li class="list-inline-item card-text" th:text="|#{vintage}: ${wine.vintage}|"></li>
                                        <li class="list-inline-item card-text" th:text="|#{size}: ${wine.size}L|"></li>
                                    </ul>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label th:for="${winegrapes}" th:text="#{grapes}">Grapes</label>
                                            <select class="form-control" th:field="*{grapeId}">
                                                <option value="">Please select a Grape</option>
                                                <option class="form-control" th:each="winegrape : ${winegrapes}"
                                                        th:text="${winegrape.name}"
                                                        th:value="${winegrape.id}"
                                                        th:selected="${grapeComponent.grapeId}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input th:replace="~{fragments/inputField :: input ('Percentage', 'percentage', 'number')}"/>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input th:replace="~{fragments/inputField :: input ('Harvest Begin Date', 'harvestBegin', 'date')}"/>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input th:replace="~{fragments/inputField :: input ('Harvest End Date', 'harvestEnd', 'date')}"/>
                                        </div>
                                    </div>
                                    <div class="form-row" >
                                        <div class="form-group col-md-3" >
                                            <input th:replace="~{fragments/inputField :: input ('Maceration days', 'macerationDays', 'text')}"/>
                                        </div>
                                        <div class="form-group col-md-3" >
                                            <input th:replace="~{fragments/inputField :: input ('Maceration temp.', 'macerationTemperature', 'number')}"/>
                                        </div>
                                        <div class="form-group col-md-3" >
                                            <input th:replace="~{fragments/inputField :: input ('Fermentation days', 'fermentationDays', 'text')}"/>
                                        </div>
                                        <div class="form-group col-md-3" >
                                            <input th:replace="~{fragments/inputField :: input ('Fermentation temp.', 'fermentationTemperature', 'number')}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-toolbar justify-content-center">
                                    <button type="submit" name="action" value="addAnotherGrape"
                                            class="btn btn-link mr-5 fas fa-check-circle"
                                            data-toggle="tooltip" th:title="#{addAnotherGrape}">
                                    </button>
                                    <button type="submit" name="action" value="saveWine"
                                            class="btn btn-link mr-5 fas fa-save"
                                            data-toggle="tooltip" th:title="#{save}"></button>
                                    <button type="submit" name="action" value="addBarrel"
                                            class="btn btn-link fas fa-plus-square"
                                            data-toggle="tooltip" th:title="#{addBarrel}">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
