<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head}" th:remove="tag"/>
<body class="wine-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <div class="card-body text-center">
                    <h3 class="font-weight-light mb-4">And here begins the process of adding a Wine!</h3>
                    <p class="lead"><b>* Name, vintage, and size are required. *</b></p>
                    <p class="lead">Vintage needs to be in YYYY format.</p>
                    <p class="lead">Size values are based off Liter.  So for the standard wine bottle of 750ml, you would use .75 or 0.75</p>
                    <p class="lead">Next you can hit <span class="btn-link fas fa-plus-square"></span> to add the grape/s that makeup this wine.</p>
                    <p class="lead">Or feel free to <span
                            class="btn-link fas fa-redo"></span> cancel and go back to the last page.</p>
                    <p class="lead">Otherwise simply <span
                            class="btn-link fas fa-save"></span> when ready.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <div class="card-body">
                    <form th:object="${wine}" method="post">
                        <input type="hidden" name="id" th:value="*{id}"/>
                        <input type="hidden" name="producerId" th:value="${wine.producerId}"/>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
                            </div>
                            <div class="form-group col-md-2">
                                <input th:replace="~{fragments/inputField :: input ('Vintage', 'vintage', 'number')}"/>
                            </div>
                            <div class="form-group col-md-2">
                                <input th:replace="~{fragments/inputField :: input ('Size', 'size', 'text')}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label th:for="${color}">Color</label>
                                <select class="form-control" th:field="*{colorId}">
                                    <option class="form-control" th:each="colors : ${color}"
                                            th:text="${colors.name}"
                                            th:value="${colors.id}" th:selected="${wine.colorId}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label th:for="${type}">Type</label>
                                <select class="form-control" th:field="*{typeId}">
                                    <option class="form-control" th:each="types : ${type}"
                                            th:text="${types.name}"
                                            th:value="${types.id}" th:selected="${wine.typeId}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label th:for="${shape}">Shape</label>
                                <select class="form-control" th:field="*{shapeId}">
                                    <option class="form-control" th:each="shapes : ${shape}"
                                            th:text="${shapes.name}"
                                            th:value="${shapes.id}" th:selected="${wine.shapeId}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label th:for="${closure}">Closure</label>
                                <select class="form-control" th:field="*{closureId}">
                                    <option class="form-control" th:each="closures : ${closure}"
                                            th:text="${closures.name}"
                                            th:value="${closures.id}" th:selected="${wine.closureId}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input th:replace="~{fragments/inputField :: input ('Aging', 'bottleAging', 'number')}"/>
                            </div>
                            <div class="form-group col-md-2">
                                <input th:replace="~{fragments/inputField :: input ('Alcohol', 'alcohol', 'text')}"/>
                            </div>
                            <div class="form-group col-md-2">
                                <input th:replace="~{fragments/inputField :: input ('Acid', 'acid', 'text')}"/>
                            </div>
                            <div class="form-group col-md-2">
                                <input th:replace="~{fragments/inputField :: input ('pH', 'pH', 'text')}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input th:replace="~{fragments/inputField :: input ('Web', 'weblink', 'text')}"/>
                            </div>
                            <div class="form-group col-md-4">
                                <input th:replace="~{fragments/inputField :: input ('Subarea', 'subarea', 'text')}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <textarea
                                        th:replace="~{fragments/inputField :: textarea ('Description', 'description', 'text')}">
                                </textarea>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-center">
                            <button type="submit" name="action" value="cancel"
                                    class="btn btn-link mr-5 fas fa-redo"
                                    data-toggle="tooltip" th:title="#{cancelBack}">
                            </button>
                            <button type="submit" name="action" value="saveWine"
                                    class="btn btn-link mr-5 fas fa-save"
                                    data-toggle="tooltip" th:title="#{save}">
                            </button>
                            <button th:if="${wine.isNew()}" type="submit" name="action" value="addGrape"
                                    class="btn btn-link fas fa-plus-square"
                                    data-toggle="tooltip" th:title="#{addGrape}">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
