<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body class="wine-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-2 m-3">
                <div class="card-body">
                    <form th:object="${wine}" method="post">
                        <input type="hidden" name="id" th:value="*{id}"/>
                        <input type="hidden" name="producerId" th:value="${wine.producer.id}"/>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
                            </div>
                            <div class="form-group col-md-2">
                                <input th:replace="~{fragments/inputField :: input ('Vintage', 'vintage', 'number')}"/>
                            </div>
                            <div class="form-group col-md-2">
                                <input th:replace="~{fragments/inputField :: input ('Size', 'size', 'text')}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label th:for="${shape}">Shape</label>
                                <select class="form-control" th:field="*{shape}">
                                    <option class="form-control" th:each="shapes : ${shape}"
                                            th:text="${shapes.name}"
                                            th:value="${shapes.id}" th:selected="${wine.shape}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label th:for="${closure}">Closure</label>
                                <select class="form-control" th:field="*{closure}">
                                    <option class="form-control" th:each="closures : ${closure}"
                                            th:text="${closures.name}"
                                            th:value="${closures.id}" th:selected="${wine.closure}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <input th:replace="~{fragments/inputField :: input ('Web', 'weblink', 'text')}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                <input th:replace="~{fragments/inputField :: input ('Aging', 'bottleAging', 'number')}"/>
                            </div>
                            <div class="form-group col-md-1">
                                <input th:replace="~{fragments/inputField :: input ('Alcohol', 'alcohol', 'text')}"/>
                            </div>
                            <div class="form-group col-md-1">
                                <input th:replace="~{fragments/inputField :: input ('Acid', 'acid', 'text')}"/>
                            </div>
                            <div class="form-group col-md-1">
                                <input th:replace="~{fragments/inputField :: input ('pH', 'pH', 'text')}"/>
                            </div>
                            <div class="form-group col-md-4">
                                <input th:replace="~{fragments/inputField :: input ('Subarea', 'subarea', 'text')}"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <textarea
                                        th:replace="~{fragments/inputField :: textarea ('Description', 'description', 'text')}">
                                </textarea>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-center">
                            <button type="submit" name="action" value="cancel"
                                    class="btn btn-link mr-5 fas fa-redo"
                                    data-toggle="tooltip" title="Cancel and go back">
                            </button>
                            <button type="submit" name="action" value="save"
                                    class="btn btn-link mr-5 fas fa-save"
                                    data-toggle="tooltip" title="Save">
                            </button>
                            <button th:if="${wine.isNew()}" type="submit" name="action" value="next"
                                    class="btn btn-link fas fa-plus-square"
                                    data-toggle="tooltip" title="Add Grape">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
