<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head}" th:remove="tag"/>
<body class="wine-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-2 m-3">
                <div class="card-body text-center">
                    <h3 class="font-weight-light mb-4">All fields on this form are required!</h3>
                    <p class="lead">Similar rules apply here.</p>
                    <p class="lead">Use <span class="btn-link fas fa-plus-square"></span> for additional barrels where the grapes are stored.</p>
                    <p class="lead">The <span class="btn-link fas fa-check-circle"></span> button will send you back to adding another grape.</p>
                    <p class="lead">You can go back and forth and <span class="btn-link fas fa-save"></span> when ready.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container justify-content-center">
            <div class="container">
                <div class="container justify-content-center">
                    <div class="card shadow my-5">
                        <div class="card-body">
                            <h5 class="card-text ml-3" th:text="|Grape: ${grape.name}|"></h5>
                            <ul class="list-inline ml-3">
                                <li class="list-inline-item card-text" th:text="|${wine.name}|"></li>
                                <li class="list-inline-item card-text" th:text="|#{vintage}: ${wine.vintage}|"></li>
                                <li class="list-inline-item card-text" th:text="|#{size}: ${wine.size}L|"></li>
                            </ul>
                            <form th:object="${barrelComponent}" method="post">
                                <div class="container">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label th:for="${barrels}" th:text="#{barrels}">Barrel</label>
                                            <select class="form-control" th:field="*{barrelId}">
                                                <option value="">Please select a Barrel</option>
                                                <option class="form-control" th:each="b : ${barrels}"
                                                        th:value="${b.id}"
                                                        th:text="${b.name}"
                                                        th:selected="${barrelComponent.barrelId}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3" th:object="${barrelComponent}">
                                            <input th:replace="~{fragments/inputField :: input ('Percentage', 'percentage', 'number')}"/>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input th:replace="~{fragments/inputField :: input ('Size', 'size', 'number')}"/>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input th:replace="~{fragments/inputField :: input ('Aging', 'aging', 'number')}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-toolbar justify-content-center">
                                    <button type="submit" name="action" value="addAnotherGrape"
                                            class="btn btn-link mr-5 fas fa-check-circle"
                                            data-toggle="tooltip" th:title="#{addAnotherGrape}">
                                    </button>
                                    <button type="submit" name="action" value="saveWine"
                                            class="btn btn-link mr-5 fas fa-save"
                                            data-toggle="tooltip" th:title="#{save}"></button>
                                    <button type="submit" name="action" value="addAnotherBarrel"
                                            class="btn btn-link fas fa-plus-square"
                                            data-toggle="tooltip" th:title="#{addAnotherBarrel}">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
