<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="index.css">
    <meta charset="UTF-8">
    <title>Add Producer Form</title>
</head>
<body>
<h2>Save Producer</h2>
<form th:action="saveProducer" th:modelAttribute="addproducer" method="post">
    <table>
        <tr>
            <td>Producer name:</td>
            <td><input type="text" th:field="*{addproducer.name}" th:path="name"/></td>
        </tr>
        <tr>
            <td>Producer country:</td>
            <td><input th:field="*{addproducer.country}" th:path="country"/></td>
        </tr>
        <tr>
            <td>Producer appellation:</td>
            <td><input type="text" th:field="*{addproducer.appellation}" th:path="appellation"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" class="save"/></td>
        </tr>
    </table>
</form>
</body>
</html>