<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>

<body>

<nav th:insert="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="col-sm-6">
        <h2 align="left">Find Producers</h2>
    </div>
    <form th:object="${producer}" th:action="@{/producers}" method="get"
          class="form-horizontal">

        <div class="form-group">
            <div class="control-group">
                <div class="col-sm-4">
                    <input class="form-control" aria-label="Search" placeholder="Search by Name"
                           th:field="*{name}" size="30" maxlength="80">
                    <div class="input-group-append"></div>
                    <span class="help-inline"><div th:if="${#fields.hasAnyErrors()}">
                        <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
                    </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>