<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <title>Wine Cellar</title>
</head>
<body>

<h2 th:text="'List of Producers'">Producers List</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Appellation</th>
        <th>Country</th>
    </tr>
    <tr th:each="producer : ${producers}">
        <td th:text="${producer.id}">ID</td>
        <td th:text="${producer.name}">Name</td>
        <td th:text="${producer.appellation}">Appellation</td>
        <td th:text="${producer.country}">Country</td>
    </tr>
</table>
<br/>
<a th:href="@{index.html}">Home Page</a>
<br/>
<a th:href="@{wines}">Wines</a>
</body>
</html>