<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}">

<body>

<nav th:insert="~{fragments/layout :: navbar}"></nav>

<br/>

<h2>Not implemented yet<a th:href="@{/}">...</a></h2>

<!--<h4 th:text="${producer.name}" align="center"></h4>-->

<!--<div class="table">-->
    <!--<div class="container">-->
        <!--<table class="table table-hover">-->
            <!--<thead class="thead-light">-->
            <!--<tr>-->
                <!--<th>Appellation</th>-->
                <!--<th>Country</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td th:text="${producer.name}">Name</td>-->
                <!--<td th:text="${producer.appellation}">Appellation</td>-->
                <!--<td th:text="${producer.country}">Country</td>-->
            <!--</tr>-->
            <!--</thead>-->
        <!--</table>-->

        <!--<a th:href="@{{id}/edit(id=${producer.id})}" class="btn btn-default">Edit-->
            <!--Producer</a>-->
    <!--</div>-->
<!--</div>-->


<footer th:include="~{fragments/layout :: footer}"></footer>

</body>
</html>