<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>


<body>

<nav th:insert="~{fragments/layout :: nav}"/>

<br/>

<h2 align="center">Producer Information</h2>

<br/>

<div class="table">
    <div class="container">
        <table class="table table-striped" th:object="${producer}">
            <tr>
                <th>Name</th>
                <td><b th:text="*{name}"></b></td>
            </tr>
            <tr>
                <th>Country</th>
                <td th:text="*{country}">
                </td>
            </tr>
            <tr>
                <th>Appellation</th>
                <td th:text="*{appellation}">
                </td>
            </tr>

        </table>

        <a th:href="@{{id}/edit(id=${producer.id})}" class="btn btn-default">Edit
            Producer</a>
        <a th:href="@{{id}/wines/new(id=${producer.id})}" class="btn btn-default">Add
            New Wine</a>
    </div>
</div>

<br/>

<h2 align="center">Wines</h2>
<br/>
<div class="container">
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>Label</th>
            <th>Vintage</th>
            <th>Appellation</th>
            <th>Varietal</th>
            <th>Country</th>
            <th></th>
        </tr>
        <tr th:each="wine : ${producer.wines}">
            <td th:text="${wine.label}">Name</td>
            <td th:text="${wine.vintage}">Vintage</td>
            <td th:text="${producer.appellation}">Appellation</td>
            <td th:text="${wine.varietal}">Varietal</td>
            <td th:text="${producer.country}">Country</td>
            <td><a th:href="@{{producerId}/wines/{wineId}/edit(producerId=${producer.id},wineId=${wine.id})}" class="btn btn-default">Update</a></td>
        </tr>
        </thead>
    </table>
</div>

</body>
</html>