<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'producers')}">

<body>

<h2>Producers</h2>

<table id="producers" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 100px;">Name</th>
        <th style="width: 100px;">Country</th>
        <th style="width: 200px">Appellation</th>
        <th>Wines</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producer : ${selections}">
        <td>
            <a th:href="@{/producers/__${producer.id}__}" th:text="${producer.name}"/></a>
        </td>
        <td th:text="${producer.country}"/>
        <td th:text="${producer.appellation}"/>
        <td><span th:each="wine : ${producer.wines}" th:text="${wine.name} "/></td>
    </tr>
    </tbody>
</table>

</body>
</html>