<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}">

<body>

<nav th:insert="~{fragments/layout :: navbar}"></nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 200px;">Country</th>
        <th>Appellation</th>
        <th style="width: 120px">Wines</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producer : ${selections}">
        <td>
            <a th:href="@{/producers/__${producer.id}__}" th:text="${producer.name}"></a>
        </td>
        <td th:text="${producer.name}"></td>
        <td th:text="${producer.country}"></td>
        <td th:text="${producer.appellation}"></td>
        <td><span th:each="wine : ${producer.wines}" th:text="${wine.name}"></span></td>
    </tr>
    </tbody>
</table>

<footer th:include="~{fragments/layout :: footer}"></footer>

</body>
</html>