<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head}"/>
<body>
<nav th:insert="~{fragments/layout :: nav}"/>
<br/>
<br/>
<div class="container justify-content-center">
    <form th:object="${producer}" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
            </div>
            <div class="form-group col-md-6">
                <input th:replace="~{fragments/inputField :: input ('Website', 'website', 'url')}"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input th:replace="~{fragments/inputField :: input ('Phone', 'phone', 'tel')}"/>
            </div>
            <div class="form-group col-md-6">
                <input th:replace="~{fragments/inputField :: input ('Fax', 'fax', 'tel')}"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input th:replace="~{fragments/inputField :: input ('Email', 'email', 'text')}"/>
            </div>
        </div>
        <div class="form-group">
            <textarea th:replace="~{fragments/inputField :: textarea ('Description', 'description', 'text')}"></textarea>
        </div>
        <br/>
        <div class="text-center">
            <button th:with="text=${producer['new']} ? 'Add' : 'Update'" type="submit"
                    class="btn btn-default" th:text="${text}">
            </button>
        </div>
    </form>
</div>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
