<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body class="producer-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <form th:object="${producer}" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <input th:replace="~{fragments/inputField :: input ('Phone', 'phone', 'tel')}"/>
                        </div>
                        <div class="form-group col-md-3">
                            <input th:replace="~{fragments/inputField :: input ('Fax', 'fax', 'tel')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input th:replace="~{fragments/inputField :: input ('Website', 'website', 'url')}"/>
                        </div>
                        <div class="form-group col-md-4">
                            <input th:replace="~{fragments/inputField :: input ('Email', 'email', 'text')}"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <textarea
                                th:replace="~{fragments/inputField :: textarea ('Description', 'description', 'text')}"></textarea>
                        </div>
                    </div>
                    <div th:insert="~{fragments/button :: btn-toolbar-cancel-save}"/>
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>