<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>

<body>

<nav th:insert="~{fragments/layout :: nav}"/>

<br/>
<h2 align="center">Producers</h2>
<br/>

<div class="container justify-content-center">
    <div class="card text-center">
        <div class="card-body" th:each="producer : ${producers}">
            <h4 class="card-header"><a th:href="@{/producer/__${producer.id}__}" th:text="${producer.name}"></a></h4><br/>
            <p class="card-text" th:text="${producer.description}">Description</p>
        </div>
    </div><br/>
    <div class="text-center">
        <a th:href="@{/producer/new}" class="btn btn-default">Add Producer</a>
    </div>
</div>
<br/><br/>

<div th:replace="~{fragments/layout :: scripts}"/>

</body>

</html>
