<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head}"/>
<body>
<nav th:insert="~{fragments/layout :: nav}"/>
<br/>
<div class="card text-center">
  <div class="card-body" th:object="${producer}">
    <h2 class="card-header" th:text="*{name}"></h2>
  </div>
</div>
<br/>
<div class="container justify-content-left">
    <div class="card text-left">
        <div class="card-body" th:object="${producer}">
            <p class="card-text" th:text="*{description}"></p>
            <p class="card-text" th:text="*{phone}"></p>
            <p class="card-text" th:text="*{fax}"></p>
            <p class="card-text" th:text="*{website}"></p>
        </div>
    </div>
    <br/>
    <div class="text-center">
        <a th:href="@{{id}/edit(id=${producer.id})}" class="btn btn-default">Edit</a>
    </div>
</div>
<br/>
<br/>
<h3 align="center">Wines</h3>
<br/>
<div class="container">
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th>Name</th>
            <th>Vintage</th>
            <th>Size</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wine : ${producer.wines}">
            <td><a th:href="@{/producer/__${producer.id}__/wine/__${wine.id}__}" th:text="${wine.name}"></a></td>
            <td th:text="${wine.vintage}">Vintage</td>
            <td th:text="${wine.size}">Size</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div class="text-center">
        <a th:href="@{{id}/wine/new(id=${producer.id})}" class="btn btn-default">Add</a>
    </div>
</div>
<br/>
<br/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
