<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="btn-toolbar-cancel-save" class="btn-toolbar justify-content-center">
    <button type="submit" name="action" value="cancel"
            class="btn btn-link fas fa-eject mr-5"
            data-toggle="tooltip" title="Cancel">
    </button>
    <button type="submit" name="action" value="save"
            class="btn btn-link fas fa-save"
            data-toggle="tooltip" title="Save">
    </button>
</div>

<!--Update: <i class="fas fa-sync"></i>-->

<!--Cancel: <i class="fas fa-eject"></i>-->

<!--Circle X: <i class="far fa-times-circle"></i>-->

<!--Redo: <i class="fas fa-redo"></i>-->

<!--Save: <i class="fas fa-save"></i>-->

</body>
</html>