<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../static/css/main.css">

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:fragment="head">-->

    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->


    <!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"-->
          <!--href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
          <!--integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->


    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../static/css/main.css">-->


    <!--<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>-->

    <!--<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
            <!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
            <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"-->
            <!--integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"-->
            <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"-->
            <!--integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"-->
            <!--crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>-->

    <!--<title>Wine Cellar</title>-->

<!--</head>-->

<!--<body>-->

<nav th:fragment="nav" class="navbar navbar-custom navbar-expand-md" role="navigation">
            <a class="navbar-brand" th:href="@{/}">Wine
                <img th:src="@{/images/wine.png}" src="../../static/images/wine.png" alt="" style="height: 60px"/>
                Cellar
            </a>

    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->

        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/}">Home<span class="fa fa-home" aria-hidden="true"></span></a>
                    <!--<span class="fa fa-home" aria-hidden="true"></span>-->
                    <!--<span>Home</span>-->
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/producers/list}">Producers<span class="fa fa-list" aria-hidden="true"></span></a>
                    <!--<span class="fa fa-list" aria-hidden="true"></span>-->
                    <!--<span>Find owners</span>-->
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/errorpage}">Error<span class="fa fa-exclamation-triangle" aria-hidden="true"></span></a>
                    <!--<span class="fa fa-exclamation-triangle" aria-hidden="true"></span>-->
                    <!--<span>Error</span>-->
                </li>

            </ul>

            <!--Save for later-->
            <!--<form class="form-inline my-2 my-lg-0">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->

        </div>
</nav>



<div class="container">
    <footer class="footer">
        <div class="container text-center">
            <a href="https://github.com/pauldpearson/winecellar-webapp" target="_blank"><i class="fa fa-github"></i></a>
            |
            <a href="https://www.linkedin.com/in/pauldpearson/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </footer>
</div>
<!--&lt;!&ndash;bg-secondary navbar-dark&ndash;&gt;-->
<!--<nav class="navbar navbar-custom navbar-expand-md" th:fragment="navbar">-->
    <!--<a class="navbar-brand" th:href="@{/}">Wine-->
        <!--<img th:src="@{/images/wine.png}" src="../../static/images/wine.png" alt="" style="height: 60px"/>-->
        <!--Cellar-->
    <!--</a>-->
    <!--&lt;!&ndash; use to move nav item to right: ml-auto&ndash;&gt;-->
    <!--<ul class="nav navbar-nav">-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="nav-link" th:href="@{/wines/list}">Wines</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--<li class="nav-item">-->
            <!--<a class="nav-link" th:href="@{/producers/list}">Producers</a>-->
        <!--</li>-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="nav-link" th:href="@{/producers/find}">Find Producers</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="nav-link" th:href="@{/error}">Error Page</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--</ul>-->
<!--</nav>-->

<!--<div th:fragment="footer">-->
    <!--<footer class="footer">-->
        <!--<div class="container text-center">-->
            <!--<a href="https://github.com/pauldpearson/winecellar-webapp" target="_blank"><i class="fa fa-github"></i></a>-->
            <!--|-->
            <!--<a href="https://www.linkedin.com/in/pauldpearson/" target="_blank"><i class="fa fa-linkedin"></i></a>-->
        <!--</div>-->
    <!--</footer>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/wine.png}">

    <title>Wine Cellar :: a Spring Framework demonstration</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"><span></span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">

                <li th:fragment="menuItem (path,active,title,glyph,text)" class="active" th:class="${active == menu ? 'active' : ''}">
                    <a th:href="@{__${path}__}" th:title="${title}">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <span th:text="${text}">Template</span>
                    </a>
                </li>

                <li th:replace="::menuItem ('/','home','home page','home','Home')">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <span>Home</span>
                </li>

                <li th:replace="::menuItem ('/producers/list','producers','producers','th-list','Producers List')">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span>Find owners</span>
                </li>

                <!--<li th:replace="::menuItem ('/vets.html','vets','veterinarians','th-list','Veterinarians')">-->
                    <!--<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>-->
                    <!--<span>Veterinarians</span>-->
                <!--</li>-->

                <li th:replace="::menuItem ('/error','error','trigger a RuntimeException to see how it is handled','warning-sign','Error')">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    <span>Error</span>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!--<div class="container-fluid">-->
    <!--<div class="container xd-container">-->

        <!--<th:block th:include="${template}"/>-->

        <!--<br/>-->
        <!--<br/>-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-12 text-center">-->
                    <!--<img src="../static/resources/images/spring-pivotal-logo.png" th:src="@{/resources/images/spring-pivotal-logo.png}"-->
                         <!--alt="Sponsored by Pivotal"/></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>



</body>

</html>