<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>

<body>

<nav th:insert="~{fragments/layout :: nav}"/>

<br/>
<h2 align="center">Area | AVA | Appellation</h2>
<br/>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 220px;">Name</th>
            <th style="width: 200px;">Description</th>
            <th style="width: 200px">Grapes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="area : ${areas}">
            <td>
                <a th:href="@{/area/__${area.id}__}" th:text="${area.name}"></a>
            </td>
            <td th:text="${area.description}"></td>
            <td><span th:each="grapes : ${area.primaryGrapes}" th:utext="${grapes.name} + '<br/>'"></span></td>
            <!--            <td><a th:href="@{{id}/edit(id=${producer.id})}" class="btn btn-default">Update</a></td>-->
        </tr>
        </tbody>
    </table>
    <br/>
    <!--    <a th:href="@{/regions/new}" class="btn btn-default">Add Region</a><br/><br/><br/>-->
</div>

<div th:replace="~{fragments/layout :: scripts}"/>

</body>
</html>