/*Comments go here...*/

.navbar-custom {
    background-color: #393f4d;
}

.jumbotron {
    background-color: #d4d4dc;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    /*color: white;*/
    text-align: center;
}

.fa-github, .fa-linkedin {
    color: #B11227;
}

.btn {
    color: #3A4958;
    background-color: #feda6a;
}

.btn:hover {
    color: #393f4d;
    background-color: #f7cb5b;
}

.img-responsive {
    background-size: cover;
}

/*THIS REMOVES THE ABILITY TO SCROLL*/
/*body {*/
    /*overflow: hidden;*/
/*}*/

.nav-item {
    text-align: center;
    padding: auto;
    font-size: 17px;
}

.fa {
    margin: 4px;
}


/*
Are ya yellow?!: #feda6a

Silver Fox: #d4d4dc

Deep Matte Grey: #393f4d

Dark Slate: #1d1e22

Wine Red: #B11227;
 */