<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>

<body>

<nav th:insert="~{fragments/layout :: nav}"/>

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 th:text="#{error}">Error:</h1>
        <p>You have made a mistake or my app is broken. Either way, try to <a th:href="@{/}">start from the
            beginning</a></p>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>