<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <title>Wine Cellar</title>
</head>
<body>
<h1 th:text="'Wine Cellar'">Wine Cellar</h1>
<a th:href="@{producers}">Producers</a>
<a th:href="@{wines}">Wines</a>

<table>
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!--<tr th:each="wines : ${wines}">-->
        <!--<td th:text="${wines.name}">Name</td>-->
        <!--<td th:text="${wines.vintage}">Vintage</td>-->
        <!--<td th:text="${wines.varietal}">Varietal</td>-->
    <!--</tr>-->
    </tbody>
</table>
</body>
</html>