<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wine Cellar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <a class="navbar-brand" href="#">Wine Cellar</a>
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/producers/producerlist}">Producers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/wines/winelist}">Wines</a>
        </li>
    </ul>
</nav>

<div class="container">
    <img class="img-fluid" th:src="@{/static/images/wine.jpg}" src="../static/images/wine.jpg" alt="Wine">
</div>

</body>
</html>
