<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body class="barrel-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <h3 th:text="${barrel.shortname}"></h3>
                <form th:object="${barrel}" method="post">
                    <div th:insert="~{fragments/entityEdit :: rows}"/>
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>