<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>

<body>

<nav th:insert="~{fragments/layout :: nav}"/>

<br/>
<div class="card text-center">
  <div class="card-body" th:object="${grape}">
    <h2 class="card-header" th:text="*{name}"></h2>
  </div>
</div>
<br/>

<div class="container justify-content-left">
    <div class="card text-left">
        <div class="card-body" th:object="${grape}">
            <p class="card-text" th:text="*{description}"></p>
            <p class="card-text" th:text="*{weblink}"></p>
        </div>
    </div>
</div>
<br/><br/>

<div th:replace="~{fragments/layout :: scripts}"/>

</body>
</html>
