<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="~{fragments/layout :: head}"/>
<body class="grape-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container justify-content-center">
            <div class="card text-center">
                <div class="card-body" th:object="${grape}">
                    <h2 class="card-header" th:text="*{name}"></h2>
                </div>
            </div>
            <br/>
            <div class="container justify-content-left">
                <div class="card text-left">
                    <div class="card-body" th:object="${grape}">
                        <p class="card-text" th:text="*{description}"></p>
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td><b th:text="#{color}"></b></td>
                                <td th:text="*{color}"></td>
                            </tr>
                            <tr th:if="*{! #strings.isEmpty(alternativeNames)}">
                                <td><b th:text="#{alternativeNames}"></b></td>
                                <td th:text="*{alternativeNames}"></td>
                            </tr>
                            <tr th:if="${grape.weblink != null && !grape.weblink.isEmpty()}">
                                <td><b th:text="#{web}"></b></td>
                                <td><a th:href="*{weblink}" target="_blank">
                                    <div th:text="*{weblink}"/>
                                </a></td>
                            </tr>
                            <!--
                            <tr>
                                <td><b>Areas</b></td>
                                <td th:text="*{areas}"></td>
                            </tr>
                            -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-right" sec:authorize="isAuthenticated()">
                <a th:href="@{/grape/__${grape.id}__/edit}"><span class="fas fa-edit"/></a>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
