<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/layout :: head}"/>
<body>
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<div class="container justify-content-center">
    <div class="card text-center">
        <div class="card-body" th:object="${grape}">
            <h2 class="card-header" th:text="*{name}"></h2>
        </div>
    </div>
    <br/>
    <div class="container justify-content-left">
        <div class="card text-left">
            <div class="card-body" th:object="${grape}">
                <p class="card-text" th:text="*{description}"></p>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td><b>Color</b></td>
                        <td th:text="*{color}"></td>
                    </tr>
                    <tr th:if="${grape.alternativeNames != null && !grape.alternativeNames.isEmpty()}">
                        <td><b>Alternative Names</b></td>
                        <td th:text="*{alternativeNames}"></td>
                    </tr>
                    <tr th:if="${grape.weblink != null && !grape.weblink.isEmpty()}">
                        <td><b>Web</b></td>
                        <td><a th:href="*{weblink}" target="_blank"><div th:text="*{weblink}"/></a></td>
                    </tr>
                    <!--
                    <tr>
                        <td><b>Areas</b></td>
                        <td th:text="*{areas}"></td>
                    </tr>
                    -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    <div class="text-right">
        <a th:href="@{/grape/{id}/edit(id=${grape.id})}"><span class="fas fa-edit"/></a>
    </div>
</div>
<br/>
<br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
