<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>

<body>

<nav th:insert="~{fragments/layout :: nav}"/>

<br/>
<h2 align="center">Grape</h2>
<br/>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">Color</th>
            <th style="width: 200px;">Description</th>
            <th style="width: 200px">Weblink</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="grape : ${grapes}">
            <td><a th:href="@{/grape/__${grape.id}__}" th:text="${grape.name}"></a></td>
            <td th:text="${grape.color}"></td>
            <td th:text="${grape.description}"></td>
            <td th:text="${grape.weblink}"></td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>