<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}"/>

<body>

<nav th:insert="~{fragments/layout :: nav}"/>

<div class="row justify-content-between">
    <div class="col-sm-6" style="padding-left: 40px">
        <br/>
        <h2 align="center">Red Grapes</h2>
        <br/>
        <div class="card">
            <div class="card-body" th:each="grape : ${redGrapes}">
                <h4 class="card-header"><a th:href="@{/grape/__${grape.id}__}" th:text="${grape.name}"></a></h4>
                <p class="card-text" th:text="${grape.description}">Description</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="padding-right: 40px">
        <br/>
        <h2 align="center">White Grapes</h2>
        <br/>
        <div class="card">
            <div class="card-body" th:each="grape : ${whiteGrapes}">
                <h4 class="card-header"><a th:href="@{/grape/__${grape.id}__}" th:text="${grape.name}"></a></h4>
                <p class="card-text" th:text="${grape.description}">Description</p>
            </div>
        </div>
    </div>
</div>
<br/><br/>

<div th:replace="~{fragments/layout :: scripts}"/>

</body>
</html>