<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head}" th:remove="tag"/>
<body class="grape-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container">
            <div class="card shadow p-4 m-3">
                <h3 th:text="${grape.name}"></h3>
                <form th:object="${grape}" method="post">
                    <input type="hidden" name="id" th:value="*{id}"/>
                    <input type="hidden" name="name" th:value="*{name}"/>
                    <input type="hidden" name="color" th:value="*{color}"/>
                    <div th:insert="~{fragments/entityEdit :: rows}"/>
                </form>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
