<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragments/layout :: head}" th:remove="tag"/>
<body class="country-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/><br/>
<div class="container">
    <div class="card p-2 shadow">
        <div class="container justify-content-center">
            <div class="card text-center">
                <div class="card-body" th:object="${country}">
                    <h2 class="card-header" th:text="*{name}"></h2>
                    <img th:src="@{/images/flags/__${country.flag}__.png}"/>
                </div>
            </div>
            <br/>
            <div class="container justify-content-left">
                <div class="card text-left">
                    <div class="card-body" th:object="${country}">
                        <p class="card-text" th:text="*{description}"></p>
                        <table class="table table-hover">
                            <tbody>
                            <tr th:if="${country.weblink != null && !country.weblink.isEmpty()}">
                                <td><b th:text="#{web}"></b></td>
                                <td><a th:href="*{weblink}" target="_blank">
                                    <div th:text="*{weblink}"></div>
                                </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br/>
                <div class="text-right" sec:authorize="isAuthenticated()">
                    <a th:href="@{/country/__${country.id}__/edit}" th:title="#{edit}"><span class="fas fa-edit"></span></a>
                </div>
            </div>
            <br/>
            <br/>
            <h3 align="center" th:switch="${country.name}">
                <span th:case="'United States'" th:text="#{states}"></span>
                <span th:case="*" th:text="#{regions}"></span>
            </h3>
            <br/>
            <div class="container justify-content-center">
                <div class="card text-center">
                    <div class="card-body p-1" th:each="region : ${regions}">
                        <h5 class="card-header"><a th:href="@{/d/__${country.key}__/__${region.key}__}"
                                                   th:text="${region.name}"></a></h5>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
