<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="~{fragments/layout :: head}"/>
<body class="about-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<div class="container">
  <div class="card border-0 shadow">
    <div class="container">
      <br/>
      <div class="container justify-content-center">
        <br/>
        <h2 align="center">About</h2>
        <br/>
      </div>
      <div class="text-left">
        MyWineCellar.info is an open source application that keeps track of your wines, their reviews and their
        tasting reviews.
      </div>
      <br/>
    </div>
  </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
