<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="~{fragments/layout :: head}"/>
<body class="about-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<div class="container">
  <div class="card border-0 shadow">
    <div class="container">
      <br/>
      <div class="container justify-content-center">
        <br/>
        <h2 align="center">Credits</h2>
        <br/>
      </div>
      <div class="text-left">
        <h3>Backgrounds</h3>
        <ul>
          <li><a href="https://pixabay.com/users/12019-12019/" target="_blank">12019</a></li>
          <li><a href="https://pixabay.com/users/chris18769-6693538/" target="_blank">chris18769</a></li>
          <li><a href="https://pixabay.com/users/couleur-1195798/" target="_blank">couleur</a></li>
          <li><a href="https://pixabay.com/users/elementus-296542/" target="_blank">elementus</a></li>
          <li><a href="https://pixabay.com/users/engin_akyurt-3656355/" target="_blank">engin_akyurt</a></li>
          <li><a href="https://pixabay.com/users/envasa-679813/" target="_blank">envasa</a></li>
          <li><a href="https://pixabay.com/users/evondue-4996403/" target="_blank">evondue</a></li>
          <li><a href="https://pixabay.com/users/free-photos-242387/" target="_blank">free-photos</a></li>
          <li><a href="https://pixabay.com/users/gadini-388416/" target="_blank">gadini</a></li>
          <li><a href="https://pixabay.com/users/hans-2/" target="_blank">hans</a></li>
          <li><a href="https://pixabay.com/users/jillwellington-334088/" target="_blank">jillwellington</a></li>
          <li><a href="https://pixabay.com/users/jpeter2-697843/" target="_blank">jpeter2</a></li>
          <li><a href="https://pixabay.com/users/ma13gann-13167067/" target="_blank">ma13gann</a></li>
          <li><a href="https://pixabay.com/users/nunosantos_21-7344418/" target="_blank">nunosantos_21</a></li>
          <li><a href="https://pixabay.com/users/skeeze-272447/" target="_blank">skeeze</a></li>
        </ul>
        <h3>Icons</h3>
        <ul>
          <li><a href="https://fontawesome.com/icons?d=gallery" target="_blank">fontawesome</a></li>
        </ul>
        <h3>Flags</h3>
        <ul>
          <li><a href="https://flagpedia.net/" target="_blank">flagpedia</a></li>
        </ul>
      </div>
      <br/>
    </div>
  </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
