<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="~{fragments/layout :: head}"/>
<body class="about-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<div class="container">
  <div class="card border-0 shadow">
    <div class="container">
      <br/>
      <div class="container justify-content-center">
        <br/>
        <h2 align="center">People</h2>
        <br/>
      </div>
      <div class="text-left">
        <table class="table">
          <tbody>
            <tr>
              <td width="20%">Paul Pearson</td>
              <td>
                <a href="https://github.com/pauldpearson/" target="_blank"><div class="fab fa-github"></div></a>
              </td>
            </tr>
            <tr>
              <td width="20%">Jesper Pedersen</td>
              <td>
                <a href="https://github.com/jesperpedersen/" target="_blank"><div class="fab fa-github"></div></a>
              </td>
            </tr>
            <tr>
              <td width="20%">Dênis Mendes</td>
              <td>
                <a href="https://github.com/dnsmnds/" target="_blank"><div class="fab fa-github"></div></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br/>
    </div>
  </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
