<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="~{fragments/layout :: head}"/>
<body class="about-background">
<div th:replace="~{fragments/layout :: nav}"/>
<br/>
<div class="container">
  <div class="card border-0 shadow">
    <div class="container">
      <br/>
      <div class="container justify-content-center">
        <br/>
        <h2 align="center">Wine & Spirit Education Trust</h2>
        <br/>
      </div>
      <div class="text-left">
        The Wine & Spirit Education Trust (WSET) provides globally recognised education and qualifications in wines,
        spirits and sake, for professionals and enthusiasts.
        <p/>
        <p/>
        WSET provides best-in-class education and qualifications to inspire and empower the world’s wine and spirits
        professionals and enthusiasts. We offer a comprehensive suite of qualifications covering wines, spirits and sake. 
        <p/>
        WSET qualifications are globally recognised as the international standard in wine and spirit knowledge.
        They are designed for those who are just starting out in their careers, as well as established professionals,
        and the many enthusiasts who have a passion for wines and spirits.
        <p/>
        With four progressive levels of study offered through a network of course providers in more than 70 countries
        and translated into multiple languages, WSET qualifications inspire and empower drinks professionals and enthusiasts.
        <p/>
        <p/>
        Learn more about WSET at their web site: <a href="https://www.wsetglobal.com/">www.wsetglobal.com</a>
        <hr/>
        <p/>
        License to use the WSET Systematic Approach to Tasting Wine (SAT) given by
        <p/>
        David Rudman, DipWSET
        <br/>
        Executive Director -- WSET Americas
        <p/>
        in March 2020.
        <p/>
        MyWineCellar.info is <b>not endorsed</b> by WSET in any way.
        <p/>
        Use of WSET Systematic Approach to Tasting Wine (SAT) requires written approval by WSET before use.
        <br/>
        Contact <a href="mailto:wset@wsetglobal.com">wset@wsetglobal.com</a> for futher information.
      </div>
      <br/>
      <table class="pct100">
        <tbody>
          <tr>
            <td><img src="/images/wset100.png" alt="WSET logo"/></td>
            <td>Copyright Wine & Spirit Education Trust 2020. <a href="https://www.wsetglobal.com/">www.wsetglobal.com</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br/><br/>
<div th:replace="~{fragments/layout :: footer}"/>
<div th:replace="~{fragments/layout :: scripts}"/>
</body>
</html>
